@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic|Playfair+Display+SC:400,700&subset=latin,cyrillic);
*{
	padding: 0;
	margin: 0;
	border: 0;
	font-family: Tahoma;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	font-size: 100%;
	line-height: 1;
	font-size: 24px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
.hidden {
	display: none;
}
.form { 
	width: 650px;
    margin : 50px auto;
	color: #69ebf5;
}

.rules h1 {
	text-align: center;
	font-size: 40px;
	margin: 10px 0 10px 0;
}

.rules { 
	width: 650px;
	text-align: center;
	font-size: 24px;
	border: 3px solid #ff2a6d;
	padding: 10px;
	line-height: 1.5;
	text-indent: 50px;
	position: absolute;
	left: 50% - 650px;
	top : 20%;
	
}
#start { 
	width: 200px;
	margin : 20px auto;
	display: flex;	
	justify-content: center;
}
#start p { 
	margin-top: 7px;
}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body{
    background-color: #01012b;
}
.userNum {
    border: 3px solid #ff2a6d; 
    color: #69ebf5;
    border-radius: 10px; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    -khtml-border-radius: 10px; 
    background: #0a0a66; 
    outline: none; 
    height: 60px; 
    width: 400px; 
    font-size: 40px; 
    font-family: Tahoma; 
    text-align: center; 
 }
 .userNum:focus{
    box-shadow: 0 0 30px #58b3d6;
 }

 input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}

.wrapper{
	margin: 200px 0 0 125px;
	display: flex;
	flex-direction: column;
	position: relative;
}
button{
	width: 185px;
	height: 35px;
	background-color: #99cfe4;
	border: 2px solid #ff2a6d;
	color: #01012b;
	border-radius: 10px; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    -khtml-border-radius: 10px; 
	margin-right: 20px;
	margin-top: 20px;
    text-transform: uppercase;
    font-family: "Tahoma";
    font-weight: 700;
}

.condition{
	position: absolute;
	min-width: 100%;
	left: 0;
	font-family: "Tahoma";
	opacity: 0;
	top: 0;
	transition: all 0.3s ease 0s;
}
.condition.active{
	opacity: 1;
	top: -40px;
}
.par{
	position: absolute;
	left: 0px;
	width: 100%;
	font-family: "Tahoma";
	opacity: 0;
	bottom: 0;
	transition: all 0.3s ease 0s;

}
.par.active{
	opacity: 1;
	bottom: -40px;
}
/* my code*/
.progress{
    height: 20px;
    width: 100%;
    border: 10px solid #ff2a6d;
    border-radius: 15px;
}
.progress .color{
    background-color: #05d9e8;
    width: 0px;
    height: 10px;
    border-radius: 15px;
    animation: progres 10s infinite ease-in-out;    
}
.color{
	margin: -5px 0 10px 0;
}
@keyframes progres{
    0%{
      width: 0;
    }
    100%{
        width: 100%;
    }
};
.imgrandom{
	display: flex;
	justify-content: center;
}
.cyber{
	width: 650px;
}